# Python caches
__pycache__/
*.py[oc]

# Build artifacts
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Environment & local config files (in any folder)
**/.env
**/.files
**/.chainlit
**/__pycache__/

# OS cruft
.DS_Store
Thumbs.db
